body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
  text-shadow:4px 4px 4px green
}

h1 {
  color: #333;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  max-width: 300px;
  padding: 10px;
  background-color: #21130d;
  border: 1px solid #ccc;
  border-radius:20px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  height: 60px;
  background-color: #ddd;
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(118,181,197);
}
